# Environment variables & secrets
.env
.env.local
.env.*.local
appsettings.json
appsettings.*.json
!appsettings.example.json

# Visual Studio & JetBrains Rider
.vs/
.idea/
.vscode/
*.user
*.userosscache
*.suo
*.sln.docstates

# .NET Build outputs
[Bb]in/
[Oo]bj/
publish/
*_wpftmp.csproj

# Temp, cache & personal game saves
temp/
tmp/
*.zip
data/cache/*
!data/cache/manifest_processed.json
data/manifest/*.yaml
data/manifest/*.json
steam-plugin/data

# Logs
*.log

# Operating System junk
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/
.agents/skills